@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;    
}


nav{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-color: #CFE2FF;
    border-radius: 10px;
    background-color: #CFE2FF;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;        
}

nav h1{
    cursor: pointer;
    user-select: none;
}

nav li{
    padding: 10px;
    border: 1px solid none;
    border-radius: 10px;
    cursor: pointer;
}

nav li:hover{
    border-color: #9ec5fe;
    background-color: #9ec5fe;
}

.row::after{
    content:'';
    clear: both;
    display: table;
}

.row .left{
    width: 20%;
    float: left;
}
.row .right{
    float: right;
    width: 70%;
}

.avatar{
    border-radius: 50px;
    width: 50px;
}

.avatar2{
    width: 150px;
    border-radius: 150px;
}

.profile{
  padding: 10px;
  text-align: center;
  border: 1px solid;

}

input{
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

.mt-4{
    margin-top: 40px;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.w-90{
    width: 90%;
}

.mt-1{
    margin-top: 5px;
}

.mt-2{
    margin-top: 20px;
}

.mt-15{
    margin-top: 15px;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.g-1{
    gap: 10px;
}

.show-post{   
    width: 80%; 
    padding: 10px;     
}

.shadow{
    border-radius: 10px;  
    border: 1px solid;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)
}

button{
    width: 120px;
    padding: 7px;
    border-radius: 10px;
    border-color: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

button:hover{
    scale: 1.1;
}
