@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins", sans-serif;
  }
  

  #header{
    height: 300px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #header img{
    border-radius: 200px;
  }

  #skills{
    text-align: center;    
    background-color: #f1f1f1;
    padding: 30px 0px;
  }

  .skills{
    display: flex;
    justify-content: space-around;
  }

  .skills img{
    border-radius: 150px;
    object-fit: cover;
  }

  #aboutMe{
    text-align: center;
    padding: 30px;
  }

  #socialMedias{
    padding: 30px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .socialMedias{
    display: flex;
    justify-content: space-around;
  }

  .socialMedias a{
    font-size: 50px;
    text-decoration: none;
  }