<h1 color="purple" bck="green">Directive</h1>
<span color="blue" bck="red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis veniam temporibus ab veritatis minima, consequatur totam molestias non itaque qui molestiae voluptatibus nobis rerum illum distinctio alias esse corrupti ratione.</span>

<div>
    <input id="name" type="text" required minlength="3" validate>
    <div style="font-size: 10px; color: red; display: none;">
        En az 3 karakter girmelisiniz
    </div>
</div>


<div>
    <input type="text" id="password" required minlength="6" validate>
    <div style="font-size: 10px; color: red; display: none;">
        Password must be 6 characters
    </div>
</div>