.my-alert{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;    
}

.alert-success{
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: white !important;
}

.alert-danger{
    background-color: rgb(220, 53, 69) !important;
    border-color: rgb(220, 53, 69) !important;
    color: white !important;
}
