<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Personel Listesi
                </h2>
            </div>
            
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-9">
                <button class="btn btn-primary">
                    Personel Ekle
                </button>
            </div>
            <div class="col-3">
                <input type="search" [(ngModel)]="search" (keydown.enter)="getAll()" class="form-control" placeholder="Personel ara...">
            </div>
        </div>
        <hr>
        <kendo-grid
        [data]="result()"
        [pageable]="true"
        [pageSize]="state().take"
        [skip]="state().skip"    
        [filterable]="true"
        [sortable]="true"
        (dataStateChange)="stateChange($event)">
        <kendo-grid-column field="id" title="Id"></kendo-grid-column>
        <kendo-grid-column field="firstName" title="First Name"></kendo-grid-column>
        <kendo-grid-column field="lastName" title="Last Name"></kendo-grid-column>

        </kendo-grid>

        <!-- <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Personel Adı</th>
                    <th>Personel Soyadı</th>
                    <th>Başlangıç Tarihi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @for(data of personels(); track data){
                    <tr>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ data.firstName }}</td>
                        <td>{{ data.lastName }}</td>
                        <td>{{ data.startingDate }}</td>
                        <td>
                            <button class="btn btn-outline-primary">
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-dark mx-1">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [ngClass]="pageNumber() === 1 ? 'disabled' : ''">
                <a class="page-link" (click)="getAll(1)">İlk</a>
              </li>
              @for(p of pageNumbers(); track p){
                <li class="page-item">
                    <a 
                    class="page-link" 
                    [ngClass]="pageNumber() === p ? 'active' : ''"
                    (click)="getAll(p)">{{p}}</a>
                </li>             
              }              
              <li class="page-item" 
              [ngClass]="pageNumber() === totalPageCount() ? 'disabled' : ''">
                <a class="page-link" (click)="getAll(totalPageCount())">Son</a>
              </li>
            </ul>
        </nav> -->
    </div>
</div>