<div class="page">
    <div class="page-wrapper">
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl d-flex flex-column justify-content-center">
          <div class="empty">
            <div class="empty-img"><img src="./static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
            </div>
            <p class="empty-title">No found!</p>
            <p class="empty-subtitle text-muted">
              We can't find your page. You can return to the home page by clicking the button below
            </p>
            <div class="empty-action">
              <a routerLink="/" class="btn btn-primary">                
                <i class="fa-solid fa-home me-1"></i>
                Return to home
              </a>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>