<body class=" d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a routerLink="/register" class="navbar-brand navbar-brand-autodark">
                    <img src="/logo.jpg" height="36" alt="">
                    <span style="font-size: 20px;">TS Chat</span>
                </a>
            </div>
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Create your account</h2>
                    <div class="mb-3">
                        <label class="form-label">User Name</label>
                        <input [(ngModel)]="model().userName" type="text" class="form-control" placeholder="jhondoe" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input [(ngModel)]="model().firstName" type="text" class="form-control" placeholder="Jhon" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input [(ngModel)]="model().lastName" type="text" class="form-control" placeholder="Doe" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">What is your profession</label>
                        <input [(ngModel)]="model().profession" type="text" class="form-control" placeholder="Software" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Choose your avatar</label>
                        <input [(ngModel)]="model().file" type="file" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">
                            Password                               
                        </label>
                        <div class="p-relative">
                            <input [(ngModel)]="model().password" #passwordInput type="password" class="form-control" placeholder="Your password" autocomplete="off">
                            @if(showPassword()){
                                <i (click)="showOrHidePassword()" class="fa-solid fa-eye-slash password"></i>
                            }@else{
                                <i (click)="showOrHidePassword()" class="fa-solid fa-eye password"></i>
                            }
                        </div>
                    </div>                        
                    <div class="form-footer">
                        <button type="button" (click)="signUp()" class="btn btn-primary w-100">
                            <i class="fa-solid fa-user-lock me-1"></i>
                            Sign up
                        </button>
                    </div>                    
                </div>               
            </div>
            <div class="text-center text-muted mt-3">
                You already have an account? <a routerLink="/login" tabindex="-1">Sign in</a>
            </div>
        </div>
    </div>
</body>